
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-alpine.css';

body {
  background-color: #f0eea2;
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 100%; 
  color: rgb(14, 13, 13);
}

.navbar .navbar-brand.no-hover {
  pointer-events: none;
  text-decoration: none;
}

.nav-pills .nav-item {
  text-align: center;
  
}

.nav-pills .nav-link {
  font-size: 22px;
  color: #333;
}

.nav-pills .nav-link:hover {
  color: #7e9dbd;
}

.container-fluid {
  padding-top: 20px;
}

  

  .container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
 
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  