<div class="container mt-5">
  <h2 class="text-center mb-4">Search User Profile</h2>
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input 
          type="text" 
          class="form-control" 
          [(ngModel)]="userId" 
          placeholder="Enter User ID" 
          aria-label="User ID">
        <button class="btn btn-primary" (click)="fetchUserProfile()">Search</button>
      </div>
    </div>
  </div>

  <div *ngIf="userProfile" class="card mt-4 mx-auto" style="max-width: 600px;">
    <div class="card-header text-center">
      <img 
        [src]="userProfile.avatar" 
        alt="Avatar" 
        class="img-thumbnail rounded-circle mb-3" 
        width="100" 
        height="100">
     
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">First Name</th>
            <td>{{ userProfile.firstName }}</td>
          </tr>
          <tr>
            <th scope="row">Last Name</th>
            <td>{{ userProfile.lastName }}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{ userProfile.email }}</td>
          </tr>
          <tr>
            <th scope="row">Company</th>
            <td>{{ userProfile.companyName }}</td>
          </tr>
          <tr>
            <th scope="row">Insured Amount</th>
            <td>{{ userProfile.insuredAmount }}</td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>{{ userProfile.userLocation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="invalidUser" class="alert alert-danger mt-4 text-center mx-auto" style="max-width: 600px;">
    Invalid user ID. Please enter a valid User ID.
  </div>
</div>
